
[class*='col-']>.card {
  margin:0;
  height:100%;
}

.form-select select,
.form-button {
  background-color:#fad978;
}



/* FIGURE */
.product-figure {
  margin:0;
}
.product-figure img {
  width:100%;
  max-height:30vh;
  object-fit:cover;
  vertical-align:text-bottom;
}
.product-figure figcaption {
  padding:1em;
  background-color:white;
}

.product-figure.soft {
  border-radius:1em;
  overflow:hidden;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.product-figure.overlay {
  position:relative;
  overflow:hidden;
  border-radius:1em;
}
.product-figure.overlay figcaption {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  transition:all 0.3s;
  opacity:0;
}
.product-figure.overlay:hover figcaption {
  opacity:1;
}
.product-figure.overlay img {
  transition:all 0.3s;
  transform:scale(1,1);
}
.product-figure.overlay:hover img {
  transform:scale(1.4,1.4);
}

.product-main img {
  width:100%;
  height:40vh;
  object-fit:cover;
}

.product-item img {
  width:100%;
  height:60vh;
  object-fit:cover;
}

.product-thumbs img {
  height:80px;
  width:80px;
  margin-right: 20px;
}


.image-square img {
  width:5em;
  height:5em;
  object-fit:contain;
  object-position:center;
}

.itemlist-item {
  margin:1em;
  padding:1em;
  border: 1px solid var(--color-neutral-light);
  border-radius:0.5em;
}





@media (max-width:1000px) {
  .navbar .display-flex {
    display:block;
  }
}

.header {
  padding-top:17px;
}

.categories {
	text-align: center;
	padding: 20px 20px 10px 20px;
	width: 100%;
}
.footer {
  width: 100%;
  height: auto;
  color: #1c1c1c;
  background-color: #fad978;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  padding: 0px 30px;
  padding-bottom: 10px;
  text-decoration: none;
}

.thumbnail {
  display: block;
  padding: 10px;
}


.image_div {
	width: 100px;
	height: 100px;
	margin: auto;
}


.filter-bar {
  background-color: #f5f5f5;
  padding: 10px;
}

.filter-item {
  padding: 0px 20px;
}

.filter-button {
  background-color: white;
  font-size: 13px;
}

.filter-button select {
  background-color: #fad978;
  font-size: 13px;
}

.filter-text {
  margin: 0px;
  font-size: 12px;
}





